<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./vendor/autoload.php"
    colors="true"
    testdox="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <php>
        <env name="APP_NAME" value="wallet" force="true" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="./test/reports/coverage"/>
            <clover outputFile="./test/reports/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
